<div class="header">
    <div class="content">
        <div class="head-item menu-toggle-button" (click)="handleToogleMenu()">
            <span class="material-icons">{{menu_button}}</span>
        </div>
        <div class="head-item logo">
            <a href="/"><span class="material-icons"><img class="logo-img" src="../../../assets/img/logo.png" alt="Logo"></span></a>
        </div>
        <div class="head-item notification">
            <span class="material-icons">notifications</span>
        </div>
        <div class="head-item profile" (click)="handleToogleMenu()">
            <span class="material-icons">account_circle</span>
        </div>
    </div>
    <div class="bottom-border"></div>    
</div>
