<app-pager>
    <div class="product-details">
        <div class="img-carrossel">            
            <div class="img-wrapper">
                <img src="../../../assets/img/gallery/braid1.PNG" alt="">
            </div>
            <div class="paginator"></div>
        </div>
        <div class="description">
            <h4 class="title">Butter-fly locs</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="controllers">
            <div class="braid-ops">
                <select name="style" id="style">
                    <option value="curly">Curly</option>
                    <option value="straight">Straight</option>
                </select>
                <select name="color" id="color">
                    <option value="brown">Brown</option>
                    <option value="black">Black</option>
                    <option value="golden">Golden</option>
                </select>
                <select name="length" id="length">
                    <option value="long">Long</option>
                    <option value="medium">Medium</option>
                    <option value="short">Short</option>
                </select>
            </div>
            <div class="metrics">
               <div class="duration">
                <span>Duration:</span> 4h 3min 
               </div>    
               
               <div class="datime">
                <span>Date:</span> Oct 12, 2018 9:00
               </div> 
               <div class="price">
                <span>Price:</span> PLN 400
               </div>
               <a href="/schedule" class="button chooseEvt"> Choose date <mat-icon>event</mat-icon></a>                 
            </div>
        </div>
        <div class="actions">
            <a href="/catalog" class="button">Menu</a>
            <a class="button continue">Continue</a>
        </div>
    </div>
</app-pager>
