@import "../../../styles.scss";

$side-padding: 20px;
$font-size: 1rem;
:host{
    width: 100%;

}

.product-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    font-size: $font-size;

    .img-carrossel{
        width: 100%;
        height: 40%;
        min-height: 314px;
        background-color: rgba(128, 128, 128, 0.137);
        display: flex;
        gap: 5px;
        flex-direction: column;
        
        .img-wrapper{            
            width: 100%;
            min-height: 314px;
            flex: 1;
            padding: 0 $side-padding + 10px;
            // background-color: green;
            display: flex;

            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            box-sizing: border-box;
            
            
            img{
                width: fit-content;
                height: auto;
                scale: 1.1;
            }
            
            span{
                display: flex;
                gap: .3rem;
                align-self: center;
                transform: translate(0, -100%);
                .mat-icon{
                    padding: 0 .3rem;
                    font-size: 20px; /* Smaller size for small devices */
                    min-height: 19px;
                    width: 20px;
                    line-height: 20px;
                    color: white;
                    background-color: $primary-color;
                }
            }
        }
        .paginator{
            width: 50px;
            min-height: 7px;
            background-color: rgba(0, 0, 0, 0.226);
            border-radius: 10px;
            margin: 0 auto;
            transform: translate(0, -350%);
        }
        
    }

    .head-panel{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 $side-padding;
        font-size: $font-size;
        // background-color: #ccc;
        box-sizing: border-box;
        
        .description{
            width: 50%;
            font-size: inherit;
            .title{
                font-weight: 500;
                max-width: 140px; 
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                margin: 0;
                font-size: 120%;
            }
            p{
                width: 100%;
                line-height: 1.3rem;
                font-size: 85%;
                max-width: 150px; 
                max-height: 35px;
    
                .mat-icon{
                    font-size: 12px; /* Smaller size for small devices */
                    height: 12px;
                    width: 12px;
                    line-height: 12px;
                    color: $primary-color;
                }
    
            }
    
        }

        .option-panel{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            // background-color: green;
            
            .content{
                gap: 6px;
                width: fit-content;
                align-items: flex-end;
                // background-color: yellow;
                display: flex;
            }
            .light-switch, .button{
                font-size: 70%;

            }
            
            .light-switch, .button{
                gap: 3px;
                display: flex;
            }
        } 
    }

    .controllers{
        display: flex;
        flex-direction: row;
        height: 15%;
        width: 100%;
        justify-content: space-between;
        
        .braid-ops{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding: 0 $side-padding;
            justify-content: space-between;            

            select{
                border: none;
                padding: .1rem;
                appearance: none;
                width: 60%;
                margin-bottom: 4px;
                background-color: #cccccc18;
                font-size: inherit;
                
                option{
                    border-color: $primary-color;
                }
            }
        }

        .metrics{
            display: flex;
            width: 50%;
            height: 100%;
            flex-direction: column;
            align-items: flex-end;
            font-size: inherit;
            padding-right: $side-padding;            

            .content{
                display: flex;
                flex-direction: column;
                justify-self: flex-end;
                justify-content: space-between;
                width: fit-content;
                height: 100%;

                span{
                    font-weight: 700;
                }    
                
            }

        }        

    }

    .actions{        
        flex: 1;
        display: flex;
        flex-direction: row;
        margin: 1rem auto;
        gap: 10px;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 $side-padding;
        box-sizing: border-box;

        

        .button{
            width: 50%;
            padding: 0.4rem 1rem;
            border: .5px solid $secondary-color;
            color: white;
            border-radius: 3px;
            background-color: $secondary-color;
            font-weight: 500;
            text-align: center;

            &.continue{
                border: .5px solid green;
                color: white;
                background-color: green;
            }

        }
    }

    .editable-item{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 3px;
        
        .mat-icon{
            font-size: 12px; /* Smaller size for small devices */
            height: 12px;
            width: 12px;
            line-height: 12px;
            color: $primary-color;
        }
    }

    .button{
        display: flex;
        gap: .3rem;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        padding: 0 .2rem;
        border: .5px solid $secondary-color;
        border-radius: 3px;

        .mat-icon{
            font-weight: 300;
            color: #9e3e12;
            font-size: 12px; /* Smaller size for small devices */
            height: 12px;
            width: 12px;
            line-height: 12px;
            color: $primary-color;
        }
    }
}


@media screen and 
(min-height: 1180px) , 
(device-height: 1180px), 
(device-height: 1280px)

{

    .product-details{
        font-size: 1.5rem;
     }
    
}

@media screen and (max-width: 380px){
    .product-details{
        font-size: .8rem;
     }
    .option-panel{
        .content{
            flex-direction: column;
        }
    }
    
}

