<app-pager *ngIf="braidStyle">
  <div class="product-details">
    <!-- Image Carousel -->
    <div class="img-carrossel">            
      <div class="img-wrapper">
        <img [src]="getImageUrl()" alt="{{ braidStyle.name }}">
        <div>
          <form id="photo_form" action="" *ngIf="hasEditPermission()">
            <mat-icon *ngIf="hasEditPermission()" (click)="editHairstyleDetails();">delete</mat-icon>
            <input type="hidden" name="hairstyle_id" value={{hairstyleId}} />
            <input (change)="createHairstyleImage($event)" id="img_file" type="file" name="image" />
        
            <label class="switch">
              <input type="checkbox" name="is_main_image" [checked]="is_main_image"/>
              <span class="slider">
                <span class="switch-label">Cover</span>
              </span>
            </label>
            <label for="img_file"><mat-icon>add</mat-icon></label>        
          </form>
        </div>
      </div>
      <div class="paginator"></div>
    </div>

    <!-- Head Panel -->
    <div class="head-panel">
      <div class="description">
        <span class="editable-item">
          <h4 class="title">{{ braidStyle.name }}</h4>
          <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();"><app-edit-button 
                [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" 
                />
          </span>
        </span>
        <p class="description">
          {{ braidStyle.description }}
          <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();"><app-edit-button 
                [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" 
                />
          </span>
        </p>                
      </div>

      <div class="option-panel">
        <div class="content">
          <a *ngIf="!editable" href="/schedule" class="button chooseEvt">Choose Date <mat-icon>event</mat-icon></a>  
          <div class="light-switch" *ngIf="hasRole('admin')">
            <label for="toggle" class="switch">Editable</label>
            <input type="checkbox" id="toggle" [checked]="this.editable" (click)="setEditableToggle()"/>
          </div>
        </div>
      </div>
    </div>

    <!-- Controllers -->
    <div class="controllers">
      <div class="braid-ops">
        <ng-container *ngIf="braidStyle.stylesAttributes[0]?.id != null; else noAttributes">
          <span *ngFor="let attribute of braidStyle.stylesAttributes" class="editable-item">
            <label *ngIf="braidStyle.stylesAttributes[0]?.id != null;">{{ attribute.name }}:</label>
            
            <span (click)="editAttachedAttributeDetails($event)">
              <app-edit-button 
                [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" 
                />
            </span>

            <select (change)="updateSelectedAttributePricingValue($event)">
              <option *ngFor="let attr_value of attribute.values" 
                      [value]="attr_value.id"
                      [attr.data-price]="attr_value.additional_cost"
                      [attr.data-cost-type]="attr_value.cost_type">
                {{ attr_value.name }}
              </option>              
            </select>            
            <!-- <mat-icon *ngIf="hasEditPermission()" (click)="editAttachedAttributeDetails($event)">edit</mat-icon> -->
          </span>
          <app-add-button [width]="15" [height]="15" *ngIf="hasEditPermission() && braidStyle.stylesAttributes?.length > 0;" (click)="attachAttributesToHairstyle();"/>
                  
        </ng-container>        
      
        <ng-template #noAttributes>
          <button (click)="attachAttributesToHairstyle()" id="attr-btn" *ngIf="hasEditPermission()">
            Click here to add an existing attribute options (e.g., color, length, texture, etc) or bellow to create a new attribute.
          </button>
        </ng-template>
      </div>

      <div class="metrics">
        <div class="content">
          <div class="duration editable-item">
            <span>Duration:</span> {{ braidStyle.duration }} min 
            <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();">
              <app-edit-button 
                [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;"
              />              
            </span>
          </div>    

          <div *ngIf="!editable" class="datime editable-item">
            <span>Date:</span> {{ braidStyle.date }} <mat-icon>event</mat-icon>
          </div>
          <div *ngIf="!editable" class="time editable-item">
            <span>Time:</span> {{ braidStyle.time }} <mat-icon>alarm</mat-icon>
          </div>
          <div *ngIf="editable" class="price editable-item">
            <span>Base:</span> {{ braidStyle.price }} zl
            <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();">
              <app-edit-button [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" />
            </span>
          </div>
          <div *ngIf="editable" class="price editable-item">
            <span>Addit:</span> {{ additionalCost }} zl
            <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();">
              <app-edit-button [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" />
            </span>
          </div>
          <div class="price editable-item">
            <span *ngIf="editable">Total:</span> <span *ngIf="!editable">Price:</span> {{ totalPrice }} zl
            <span *ngIf="hasEditPermission()" (click)="editHairstyleDetails();">
              <app-edit-button [width]="10" [height]="10"
                *ngIf="hasEditPermission() && braidStyle.stylesAttributes[0]?.id != null;" />
            </span>
          </div>                                           
        </div>
      </div>
    </div>

    <!-- Actions -->
    <div class="actions">
      <a *ngIf="!hasEditPermission()" class="button">Customize</a>
      <a *ngIf="hasEditPermission()" class="button" href="/attributes">List of attributes</a>
      <a *ngIf="!hasEditPermission()" href="/bookings"  class="button continue">Continue</a>
      <a *ngIf="hasEditPermission()" class="button" href="/attributes">List of hairstyles</a>
    </div>
  </div>
</app-pager>
