<div class="container">
    <h5 class="title">{{title}}</h5>

    <app-searchbox *ngIf="searchable" (search)="filterData($event)"></app-searchbox>
    
    <app-add-button (click)="createNewAttribute()"></app-add-button>

    <div class="table-content">
      <table>
        <tbody>
          <tr *ngFor="let item of filteredData" [attr.id]="item.id">
            <td class="table-item-td">
              <div class="table-item" (click)="getSelectedElement($event)">
                <div *ngIf="profileIcon" class="profile-picture">
                  <img *ngIf="item.src" [src]="item.src" alt="">
                  <span *ngIf="item.src === ''"><mat-icon>{{profileIcon}}</mat-icon></span>
                </div>
                <div class="profile-name">
                  {{item.name}}
                  <div class="description">
                    {{item.description}}
                  </div>
                </div>
                <div class="view-details" *ngIf="!showdetails" (click)="getSelectedElement($event)">
                  <mat-icon>{{ inconElement }}</mat-icon>
                </div>
              </div>
              <div class="more-details">           
                <!-- Use the projected template if provided -->
                <ng-container 
                  *ngIf="detailsTemplate"
                  [ngTemplateOutlet]="detailsTemplate"
                  [ngTemplateOutletContext]="{ $implicit: item }">
                </ng-container>
              </div>
            </td>
            <td class="table-action-td">
              <div class="icon more-options" (click)="toggleRowOptions($event)">
                <svg width="5" height="21" viewBox="0 0 5 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="2.5" cy="2.5" r="2.5" fill="#767676" />
                  <circle cx="2.5" cy="18.5" r="2.5" fill="#767676" />
                  <circle cx="2.5" cy="10.5" r="2.5" fill="#767676" />
                </svg>
              </div>
              <div class="options">
                <div class="option-wrapper">
                  <div class="option" *ngFor="let option of optionsList" (click)="handleOptionClick($event, option, item)">
                    <span><mat-icon>{{ option.icon }}</mat-icon></span>{{ option.label }}
                  </div>
                </div>
              </div>
            </td>             
          </tr>
        </tbody>
      </table>
    </div>
  </div>

