<app-pager>
  <app-default-table 
    [title]="title"
    [searchable]="searchable"    
    [endpoint]="'hairstyle-attribute-values'"
    [entityName]="'Value'"
    [optionsList]="optionsList"
    [creationalFields]="creationalFields"
    [updatableFields]="updatableFields"
    [data]="data"    
    (selectedItemChange)="onSelectedItemChange($event)"
    (refreshTableData)="onRefreshAttributeValues()">
    <ng-template let-item>
      <div class="details">
        <p>
          {{ item.details }}
        </p>
      </div>
    </ng-template>
  </app-default-table>
</app-pager>
