@import "../../../../styles.scss";

svg {
    // width: 50px; /* Adjust size */
    // height: 50px;
    stroke: $primary-color; /* Default stroke color */
    transition: stroke 0.3s ease, transform 0.3s ease;
}

svg:hover {
    stroke: $secondary-color; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

svg path {
    stroke-width: 1.5; /* Adjust stroke thickness */
}