<app-pager>
  <app-default-table 
    [title]="title" 
    [searchable]="searchable"
    [endpoint]="'hairstyle-attributes'"
    [entityName]="'Attribute'"
    [optionsList]="optionsList"
    [creationalFields]="creationalFields"
    [updatableFields]="updatableFields"
    [data]="data" 
    (updateTable)="onUpdateTable($event)" 
    (selectedItemChange)="onSelectedItemChange($event)"
    (refreshTableData)="onCreateAttributeSuccess()">
    <ng-template let-item>
      <div class="details">
        <p>
          {{ item.details }}
        </p>
      </div>
    </ng-template>
  </app-default-table>
</app-pager>