@import "../../../styles.scss";
:host{
    
}

.container{
    display: grid;
    grid-template-rows: 7dvh 1px auto 8dvh;
    height: 100dvh;
}

.divider{
    border-bottom: 1px solid $secondary-color;
}