@import "../../../styles.scss";
:host{
    
}

.container{
    display: grid;
    grid-template-rows: minmax(48px,7dvh)  auto minmax(30px,5dvh);
    height: 100dvh;
    min-width: 308px;
    gap: 1px;
}