<div class="main">
    <aside class="sidebar" 
        [class.open]="open"
    >
        <nav>
            <ul>
                <li><a href="#"><span class="material-icons">dashboard</span> Dashboard</a></li>
                <li><a href="#"><span class="material-icons">event</span> Calendar</a></li>
                <li><a href="#"><span class="material-icons">schedule</span> Appoints</a></li>
                <li><a href="#"><span class="material-icons">content_cut</span> Services</a></li>
                <li><a href="#"><span class="material-icons">people</span> Clients</a></li>
                <li><a href="#"><span class="material-icons">bar_chart</span> Reports</a></li>
                <li><a href="#"><span class="material-icons">settings</span> Settings</a></li>
                <li><a href="#"><span class="material-icons">logout</span> Logout</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <ng-content #sidebarMainContent></ng-content>        
    </main>
</div>
