@import "../../../styles.scss";
:host{
    
}

.main {
  display: flex;
  height: 100%;

  .sidebar {
    width: 0;
    display: flex; 
    overflow: hidden;
    transition: width 0.3s ease; 
    background-color: $primary-color;

    &.open {
      width: 95px; 
      height: 99.7%;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
          display: flex;
          align-items: center;
          margin: 10px 0;
  
          a {
              display: flex;
              align-items: center;
              text-decoration: none;
              color: #fff;
              padding: 10px 20px;
              font-size: .5rem;
              transition: background 0.3s;
  
              &:hover {
                  background-color: #42050586;
              }
  
              .material-icons {
                  margin-right: 5px;
                  font-size: 20px;
              }
          }
      }
  }
  
  }

  .main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
  }
}