<app-pager>
    
    <div class="catalog">
        <app-searchbox/>
        <div class="cards">
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid1.PNG" alt="">
                </div>
            </div>            
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid2.PNG" alt="">
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid3.PNG" alt="">
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid4.PNG" alt="">
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid5.PNG" alt="">
                </div>
            </div>
            <div class="card">
                <div class="img-wrapper">
                    <img src="../../../assets/img/gallery/braid6.PNG" alt="">
                </div>
            </div>
    
        </div>
    </div>


</app-pager>