@import "../../../styles.scss";

:host{

}

.bookings{
    
    display: flex;
    width: 100%;
    height: 100%;
    font-size: $font-size;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    .title{
        width: 100%;
        text-align: center;
        padding-top: .7rem;
    }
    .booking-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4%;
        width: 100%;

        .content{
            width: fit-content;
            max-width: 300px;
            gap: .2rem;
            padding-bottom: .3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 70%;
            overflow: auto;
            box-sizing: border-box;
            
            .menu-item{
                width: fit-content;
                border: .3px solid #ccc;
                padding: 0 .3rem;        
                text-wrap: nowrap;            
            }
        }
    }

    .table-content{
        font-size: 80%;
        min-width: 300px;
        width: 90%;
        height: 80%;
        display: grid;
        grid-template-rows:minmax(100%, 450px);
        overflow-y: auto;
        padding: 0 1rem;      
        box-sizing: border-box;            

        table{
            width: 100%;

            .table-item{
                display: flex;
                flex-direction: column;
                padding: .3rem 0;
                border-bottom: .1rem solid #ccc;
                
                .date{
                    color: rgba(0, 0, 0, 0.829);
                    font-size: 85%;
                }
                .product{
                    font-weight: 500;
                    font-size: 110%;
                }
                .info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 95%;
                    
                    .notification{
                        color: rgb(179, 13, 13);
                        font-size: 85%;
                    }
                    .price{
                        color: rgba(0, 0, 0, 0.829);
                    }
                }
            }

            .table-action-td{
                
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                }
            }

        }
    }

}